body {
    color: #333;
}

.hidden {
    display: none;
}

button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    border: 1px solid #ced4da;
}

.img-container {
    display: flex;
    flex-direction: row;
    height: 48px;
    margin-bottom: 10px;
}

.card {
    width: 48px;
    height: 48px;
    filter: grayscale(100%);
}

.card-active {
    filter: none;
}